<a href="https://colab.research.google.com/github/ajayjeswani12/data-analysis-/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATA CLEANING IN PYTHON**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ast import literal_eval
import json
%matplotlib inline

In [ ]:
df = pd.read_csv("movie.csv", low_memory=False)

In [ ]:
df.shape
df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   movie_title                14 non-null     object
 1   num_critic_for_reviews     14 non-null     int64
 2   duration                   11 non-null     float64
 3   DIRECTOR_facebook_likes    12 non-null     object
 4   actor_3_facebook_likes     14 non-null     int64
 5   ACTOR_1_facebook_likes     14 non-null     int64
 6   gross                      14 non-null     int64
 7   num_voted_users            13 non-null     float64
 8   Cast_Total_facebook_likes  12 non-null     float64
 9   facenumber_in_poster       9 non-null      float64
 10  num_user_for_reviews       14 non-null     int64
 11  budget                     14 non-null     int64
 12  title_year                 14 non-null     int64
 13  ACTOR_2_facebook_likes     13 non-null     float64
 14  imdb_score                 14 non-null     float64
 15  title_year.1               7 non-null      float64
dtypes: float64(7), int64(7), object(2)
memory usage: 1.9+ KB

In [ ]:
drop_df = ["title_year.1"]
df = df.drop(drop_df, axis=1) # drops the selected columns
df = df.drop_duplicates(keep='first') # removes the duplicates from existing dataframe
df.dropna(how="all",inplace=True) # if each column is NaN or null in a row, drops this row

In [ ]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 0 to 13
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   movie_title                13 non-null     object
 1   num_critic_for_reviews     13 non-null     int64
 2   duration                   10 non-null     float64
 3   DIRECTOR_facebook_likes    11 non-null     object
 4   actor_3_facebook_likes     13 non-null     int64
 5   ACTOR_1_facebook_likes     13 non-null     int64
 6   gross                      13 non-null     int64
 7   num_voted_users            12 non-null     float64
 8   Cast_Total_facebook_likes  11 non-null     float64
 9   facenumber_in_poster       8 non-null      float64
 10  num_user_for_reviews       13 non-null     int64
 11  budget                     13 non-null     int64
 12  title_year                 13 non-null     int64
 13  ACTOR_2_facebook_likes     12 non-null     float64
 14  imdb_score                 13 non-null     float64
dtypes: float64(6), int64(7), object(2)
memory usage: 1.6+ KB

In [ ]:
df["duration"] = df["duration"].replace(0, np.nan)
df["duration"].fillna(df["duration"].mean(), inplace=True)

In [ ]:
df["num_voted_users"] = df["num_voted_users"].replace(0, np.nan)
df["num_voted_users"].fillna(df["num_voted_users"].mean(), inplace=True)

In [ ]:
face_med =   df['facenumber_in_poster'].median()
face_med
df["facenumber_in_poster"].fillna(face_med, inplace = True)

In [ ]:
total_cast_med =   df['Cast_Total_facebook_likes'].median()
total_cast_med
df["Cast_Total_facebook_likes"].fillna(total_cast_med, inplace = True)

In [ ]:
df["ACTOR_2_facebook_likes"] = df["ACTOR_2_facebook_likes"].replace(0, np.nan)
df["ACTOR_2_facebook_likes"].fillna(df["ACTOR_2_facebook_likes"].mean(), inplace=True)

In [ ]:
df['DIRECTOR_facebook_likes'] = df['DIRECTOR_facebook_likes'].str.replace('"475"','475')
print (df)

                                     movie_title  num_critic_for_reviews  \
0                                       Avatar?ÿ                     723
1     Pirates of the Caribbean: At World's End?ÿ                     302
2                                      Spectre?ÿ                     602
3                        The Dark Knight Rises?ÿ                     813
4                                  John Carter?ÿ                     462
5                                 Spider-Man 3?ÿ                     392
6                                      Tangled?ÿ                     324
7                      Avengers: Age of Ultron?ÿ                     635
9       Harry Potter and the Half-Blood Prince?ÿ                     375
10          Batman v Superman: Dawn of Justice?ÿ                     673
11                            Superman Returns?ÿ                     434
12                           Quantum of Solace?ÿ                     403
13  Pirates of the Caribbean: Dead Man's Chest?ÿ                     313

    duration DIRECTOR_facebook_likes  actor_3_facebook_likes  \
0      178.0                      10                     855
1      151.7                     563                    1000
2      148.0                      20                     161
3      151.7                   22000                   23000
4      132.0                     475                     530
5      156.0                      23                    4000
6      151.7                      15                     284
7      141.0                      10                   19000
9      153.0                     282                   10000
10     183.0                     NaN                    2000
11     169.0                     NaN                     903
12     106.0                     395                     393
13     151.0                     563                    1000

    ACTOR_1_facebook_likes      gross  num_voted_users  \
0                     1000  760505847        886204.00
1                    40000  309404152        471220.00
2                    11000  200074175        275868.00
3                    27000  448130642       1144337.00
4                      640   73058679        212204.00
5                    24000  336530303        383056.00
6                      799  200807262        294810.00
7                    26000  458991599        462669.00
9                    25000  301956980        321795.00
10                   15000  330249062        462115.25
11                   18000  200069408        240396.00
12                     451  168368427        330784.00
13                   40000  423032628        522040.00

    Cast_Total_facebook_likes  facenumber_in_poster  num_user_for_reviews  \
0                      4834.0                   1.5                  3054
1                     48350.0                   1.5                  1238
2                     11700.0                   1.0                   994
3                    106759.0                   1.5                  2701
4                      1873.0                   1.0                   738
5                     46055.0                   1.5                  1902
6                     46055.0                   1.0                   387
7                     92000.0                   4.0                  1117
9                     58753.0                   3.0                   973
10                    24450.0                   1.5                  3018
11                    46055.0                   2.0                  2367
12                     2023.0                   1.0                  1243
13                    48486.0                   2.0                  1832

       budget  title_year  ACTOR_2_facebook_likes  imdb_score
0   237000000        2009                   936.0         7.9
1   300000000        2007                  5000.0         7.1
2   245000000        2015                   393.0         6.8
3   250000000        2012                 23000.0         8.5
4   263700000        2012                   632.0         6.6
5   258000000        2007                 11000.0         6.2
6   260000000        2010                   553.0         7.8
7   250000000        2015                 21000.0         7.5
9   250000000        2009                 11000.0         7.5
10  250000000        2016                  7410.5         6.9
11  209000000        2006                 10000.0         6.1
12  200000000        2008                   412.0         6.7
13  225000000        2006                  5000.0         7.3

In [ ]:
df["DIRECTOR_facebook_likes"] =pd.to_numeric(df['DIRECTOR_facebook_likes'], errors='coerce', downcast="float") 
director_med =   df['DIRECTOR_facebook_likes'].median()
director_med
df["DIRECTOR_facebook_likes"].fillna(director_med, inplace = True)

In [ ]:
df

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score
0,Avatar?ÿ,723,178.0,10.0,855,1000,760505847,886204.00,4834.0,1.5,3054,237000000,2009,936.0,7.9
1,Pirates of the Caribbean: At World's End?ÿ,302,151.7,563.0,1000,40000,309404152,471220.00,48350.0,1.5,1238,300000000,2007,5000.0,7.1
2,Spectre?ÿ,602,148.0,20.0,161,11000,200074175,275868.00,11700.0,1.0,994,245000000,2015,393.0,6.8
3,The Dark Knight Rises?ÿ,813,151.7,22000.0,23000,27000,448130642,1144337.00,106759.0,1.5,2701,250000000,2012,23000.0,8.5
4,John Carter?ÿ,462,132.0,475.0,530,640,73058679,212204.00,1873.0,1.0,738,263700000,2012,632.0,6.6
5,Spider-Man 3?ÿ,392,156.0,23.0,4000,24000,336530303,383056.00,46055.0,1.5,1902,258000000,2007,11000.0,6.2
6,Tangled?ÿ,324,151.7,15.0,284,799,200807262,294810.00,46055.0,1.0,387,260000000,2010,553.0,7.8
7,Avengers: Age of Ultron?ÿ,635,141.0,10.0,19000,26000,458991599,462669.00,92000.0,4.0,1117,250000000,2015,21000.0,7.5
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282.0,10000,25000,301956980,321795.00,58753.0,3.0,973,250000000,2009,11000.0,7.5
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,282.0,2000,15000,330249062,462115.25,24450.0,1.5,3018,250000000,2016,7410.5,6.9
11,Superman Returns?ÿ,434,169.0,282.0,903,18000,200069408,240396.00,46055.0,2.0,2367,209000000,2006,10000.0,6.1
12,Quantum of Solace?ÿ,403,106.0,395.0,393,451,168368427,330784.00,2023.0,1.0,1243,200000000,2008,412.0,6.7
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563.0,1000,40000,423032628,522040.00,48486.0,2.0,1832,225000000,2006,5000.0,7.3

In [ ]:
df.columns.str.upper()

Index(['MOVIE_TITLE', 'NUM_CRITIC_FOR_REVIEWS', 'DURATION',
       'DIRECTOR_FACEBOOK_LIKES', 'ACTOR_3_FACEBOOK_LIKES',
       'ACTOR_1_FACEBOOK_LIKES', 'GROSS', 'NUM_VOTED_USERS',
       'CAST_TOTAL_FACEBOOK_LIKES', 'FACENUMBER_IN_POSTER',
       'NUM_USER_FOR_REVIEWS', 'BUDGET', 'TITLE_YEAR',
       'ACTOR_2_FACEBOOK_LIKES', 'IMDB_SCORE'],
      dtype='object')

In [ ]:
df.to_csv (r'Cleaned_dataset2.csv', index = False, header=True)